/// Load
@use 'sass:math';

/// Mixin
@mixin keyframes($position) {
    $value: 1rem;
    $valueTranslate: '';
    $positionTranslate: '';
    @if ($position == 'top' or $position == 'bottom') {
        $valueTranslate: if($position == 'top', calc($value * -1), null);
        $positionTranslate: translateY;
    }
    @if ($position == 'left' or $position == 'right') {
        $valueTranslate: if($position == 'left', calc($value * -1), null);
        $positionTranslate: translateX;
    }
    @keyframes fadeIn#{$position} {
        0% {
            opacity: 0;
            -webkit-transform: #{$positionTranslate }(#{$valueTranslate});
            -ms-transform: #{$positionTranslate }(#{$valueTranslate});
            transform: #{$positionTranslate }(#{$valueTranslate});
        }
        100% {
            opacity: 1;
            -webkit-transform: $positionTranslate(0);
            -ms-transform: $positionTranslate(0);
            transform: $positionTranslate(0);
        }
    }
    animation: 0.5s fadeIn#{$position};
}

@mixin animation($value) {
    @include keyframes($value);
}
