/// Load
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:math';
@use 'sass:string';
@use './../settings' as setting;
/// Function
@function negative-merge($value, $array) {
    @if (meta.type-of($array) ==map) {
        @if not map.get($array, $value) {
            $new-value: string.slice($value, 2);
            @if not map.has-key($array, $new-value) {
                @error '#{$value} Values of negative-margins not exists in spacer variable';
            }
            $negative: (
                $value: map.get($array, $new-value) * -1,
            );
            @return map.merge($array, $negative);
        }
    }
    @return true;
}
@function spacer-infix($key, $map) {
    /// Check if properties has n
    $value: string.slice($key, if(string.index($key, 'n'), 4, 3));
    $new-value: setting.str-replace($key, setting.$dot, setting.$state + setting.$dot);
    $infix: if(map.has-key($map, $value), $new-value, '');
    // Log debug $infix
    @return $infix;
}
/// Mixin
@mixin negative-margins($class-name, $prefix, $properties, $side, $spacer, $infix: '') {
    @if $class-name != 'margin' {
        @error "Negative only use for margin. Please remove invalid key in your map !!";
    }
    $spacer-properties: map.get(setting.$spacers, 'properties');
    $spacer-infix: spacer-infix($properties, $spacer-properties);
    @if type-of(map.get(setting.$sides, $side)) == list {
        /// Check variable sides: x || y
        .#{$infix}#{$prefix}#{$spacer-infix} {
            @each $position in map.get(setting.$sides, $side) {
                #{$class-name}-#{$position}: map.get(
                    negative-merge($spacer, $spacer-properties),
                    $spacer
                );
            }
        }
    } @else {
        .#{$infix}#{$prefix}#{$spacer-infix} {
            #{$class-name}-#{map.get(setting.$sides, $side)}: map.get(
                negative-merge($spacer, $spacer-properties),
                $spacer
            );
        }
    }
}
