/// Load
@use 'sass:map';
@use './settings' as setting;
@use './utilities' as utilities;

///// Display
// @include utilities.display(
//     $values: (
//         'flex',
//         'block',
//         'none',
//         'md:flex',
//     )
// );
///// Flex
// @include utilities.flex(
//     $prefix: 'justify',
//     $values: (
// 		'between',
//         'end',
//         'md:start',
//         'md:end',
//     )
// );
@include utilities.flex(
    $prefix: 'align',
    $values: (
        'center',
        'start',
        'lg:baseline',
    )
);
///// Grid col
@include utilities.grid(
    $values: (
        '6',
        'md:6',
        'sm:8',
    )
);
/// Margin
@include utilities.spacer(
    $prefix: map.get(setting.$property-spacers, 'margin'),
    $values: (
        'x-n0.25',
        // 'md:y-0',
        // 'l-2',
        // 'md:l-2',,
    )
);
///// Padding
// @include utilities.spacer(
// 	$prefix: map.get(setting.$property-spacers, 'padding'),
//     $values: (
//         'l-2',
//         'md:l-2',
//     )
// );
