@use './utilities' as util;

@include util.display(
    $values: (
        'md:flex',
        'block',
        'none',
    )
);
@include util.flex-justify(
    $values: (
        'start',
        'between',
        'end',
        'md:end',
    )
);
@include util.flex-align(
    $values: (
        'center',
        'start',
        'baseline',
    )
);
