@use './utilities' as utilities;

@include utilities.display(
    $values: (
        'md:flex',
        'block',
        'none',
    )
);
@include utilities.flex-justify(
    $values: (
        'md:start',
        'between',
        'end',
        'md:end',
    )
);
@include utilities.flex-align(
    $values: (
        'center',
        'start',
        'md:baseline',
    )
);
