$icomoon-font-family: 'fi' !default;
$icomoon-font-path: 'fonts' !default;

$fi-bar: '\e900';
$fi-cart: '\e901';
$fi-chevron-down: '\e902';
$fi-chevron-left: '\e903';
$fi-chevron-right: '\e904';
$fi-chevron-up: '\e905';
$fi-close: '\e906';
$fi-search: '\e907';
