@use '../../scss/settings/function' as *;

.search-header {
    background-color: #fff;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    &.active {
        top: 50%;
        visibility: visible;
        opacity: 1;
    }
    .input {
        height: 100%;
        border: none !important;
    }
}
