/// Variables
$state: '\\';
$colon: ':';
$dash: '-';
$dot: '.';
$grid-columns: 12;
$base-unit: 16px;
$font-size-base: 1rem;
$spacer: 1rem;
$breakpoints: (
    'xs': 0,
    'sm': 576,
    'md': 768,
    'lg': 992,
    'xl': 1200,
    '2xl': 1400,
    '3xl': 1536,
    '4xl': 1920,
);
$displays: (
    'property': 'display',
    'class': 'd',
    'values': (
        block,
        inline,
        inline-block,
        flex,
        inline-flex,
        none,
    ),
);
$sizes: (
    'width': (
        'property': 'width',
        'class': 'w',
    ),
    'height': (
        'property': 'height',
        'class': 'h',
    ),
    'values': (
        '25': 25%,
        '50': 50%,
        '75': 75%,
        '100': 100%,
        'auto': auto,
    ),
);
$flexs: (
    'justify': (
        'property': 'justify-content',
        'class': 'justify',
        'values': (
            'start': flex-start,
            'end': flex-end,
            'center': center,
            'between': space-between,
            'around': space-around,
        ),
    ),
    'align': (
        'property': 'align-items',
        'class': 'align',
        'values': (
            'start': flex-start,
            'end': flex-end,
            'center': center,
            'baseline': baseline,
            'stretch': stretch,
        ),
    ),
);
$grids: (
    'property': 'grid',
    'class': 'col',
    'values': (
        '': '',
        '1': 1,
        '2': 2,
        '3': 3,
        '4': 4,
        '5': 5,
        '6': 6,
        '7': 7,
        '8': 8,
        '9': 9,
        '10': 10,
        '11': 11,
        '12': 12,
        'auto': 'auto',
    ),
);
$spacings: (
    'margin': (
        'property': 'margin',
        'class': 'm',
    ),
    'padding': (
        'property': 'padding',
        'class': 'p',
    ),
    'sides': (
        't': top,
        'b': bottom,
        'l': left,
        'r': right,
        'x': (
            left,
            right,
        ),
        'y': (
            top,
            bottom,
        ),
    ),
    'values': (
        'auto': auto,
        '0': 0,
        '0.25': $spacer * 0.25,
        '0.5': $spacer * 0.5,
        '0.75': $spacer * 0.75,
        '1': $spacer,
        '1.25': $spacer * 1.25,
        '1.5': $spacer * 1.5,
        '1.75': $spacer * 1.75,
        '2': $spacer * 2,
        '2.25': $spacer * 2.25,
        '2.5': $spacer * 2.5,
        '2.75': $spacer * 2.75,
        '3': $spacer * 3,
        '3.25': $spacer * 3.25,
        '3.5': $spacer * 3.5,
        '3.75': $spacer * 3.75,
        '4': $spacer * 4,
        '4.25': $spacer * 4.25,
        '4.5': $spacer * 4.5,
        '4.75': $spacer * 4.75,
        '5': $spacer * 5,
        '5.25': $spacer * 5.25,
        '5.5': $spacer * 5.5,
        '5.75': $spacer * 5.75,
    ),
);

/// Text
$texts: (
    'text-align': (
        property: 'text-align',
        class: 'text',
        values: left center right,
    ),
    'font-size': (
        property: 'font-size',
        class: 'text',
        values: (
            '12': calc(12 / 16 * $font-size-base),
            '14': calc(14 / 16 * $font-size-base),
            '16': calc(16 / 16 * $font-size-base),
            '18': calc(18 / 16 * $font-size-base),
            '20': calc(20 / 16 * $font-size-base),
        ),
    ),
    'font-style': (
        property: 'font-style',
        class: 'fst',
        values: italic normal,
    ),
    'font-weight': (
        property: 'font-weight',
        class: 'fw',
        values: '100' '200' '300' '400' '500' '600' '700' '800' '900',
    ),
    'line-height': (
        property: 'line-height',
        class: 'lh',
        values: (
            '1': 1,
            'sm': 1.25,
            'base': 1.5,
            'lg': 2,
        ),
    ),
    'text-decoration': (
        property: 'text-decoration',
        class: 'text-decoration',
        values: none underline line-through,
    ),
    'text-transform': (
        property: 'text-transform',
        class: 'text',
        values: lowercase uppercase capitalize,
    ),
    'white-space': (
        property: 'white-space',
        class: 'text',
        values: (
            wrap: normal,
            nowrap: nowrap,
        ),
    ),
    'word-wrap': (
        property: 'word-wrap',
        class: 'text',
        values: (
            break: break-word,
        ),
    ),
);

/// Position
$position-values: (
    '0': 0,
    '50': 50%,
    '100': 100%,
);
$positions: (
    'position': (
        'property': 'position',
        'class': 'position',
        'values': static relative absolute fixed sticky,
    ),
    'top': (
        'property': top,
        'class': 'top',
        'values': $position-values,
    ),
    'bottom': (
        'property': bottom,
        'class': 'bottom',
        'values': $position-values,
    ),
    'left': (
        'property': left,
        'class': 'left',
        'values': $position-values,
    ),
    'right': (
        'property': right,
        'class': 'right',
        'values': $position-values,
    ),
    'translate': (
        property: 'transform',
        class: 'translate',
        values: (
            'x': translateX(-50%),
            'y': translateY(-50%),
            'xy': translate(-50%, -50%),
        ),
    ),
);

/// Border
$boder-default: 1px solid #dee2e6;
$roundeds: (
    '': 0.25rem,
    '0': 0,
    'sm': 0.125rem,
    'md': 0.375rem,
    'lg': 0.5rem,
    'circle': 50%,
    'full': 100%,
);
$borders: (
    'border': (
        'property': 'border',
        'class': 'border',
        'values': (
            '': $boder-default,
            '0': 0,
        ),
    ),
    'border-top': (
        'property': border-top,
        'class': border-top,
        'values': (
            '': $boder-default,
            '0': 0,
        ),
    ),
    'border-bottom': (
        'property': 'border-bottom',
        'class': 'border-bottom',
        'values': (
            '': $boder-default,
            '0': 0,
        ),
    ),
    'border-left': (
        'property': 'border-left',
        'class': 'border-left',
        'values': (
            '': $boder-default,
            '0': 0,
        ),
    ),
    'border-right': (
        'property': 'border-right',
        'class': 'border-right',
        'values': (
            '': $boder-default,
            '0': 0,
        ),
    ),
    'border-width': (
        'property': 'border-width',
        'class': 'border',
        'values': (
            '1': 1px,
            '2': 2px,
        ),
    ),
    'border-color': (
        'property': 'border-color',
        'class': 'border',
        'values': (
            'black': #000000,
            'white': #ffffff,
            'gray': #808080,
        ),
    ),
    'rounded': (
        'property': 'border-radius',
        'class': 'rounded',
        'values': $roundeds,
    ),
    'rounded-top': (
        'property': 'border-radius',
        'class': 'rounded-top',
        'values': $roundeds,
    ),
    'rounded-bottom': (
        'property': 'border-radius',
        'class': 'rounded-bottom',
        'values': $roundeds,
    ),
    'rounded-left': (
        'property': 'border-radius',
        'class': 'rounded-left',
        'values': $roundeds,
    ),
    'rounded-right': (
        'property': 'border-radius',
        'class': 'rounded-right',
        'values': $roundeds,
    ),
);

/// Overflow
$overflow-list: 'auto hidden visible scroll';
$overflows: (
    'overflow': (
        'property': 'overflow',
        'class': 'overflow',
        'values': $overflow-list,
    ),
    'overflow-x': (
        'property': 'overflow-x',
        'class': 'overflow-x',
        'values': $overflow-list,
    ),
    'overflow-y': (
        'property': 'overflow-y',
        'class': 'overflow-y',
        'values': $overflow-list,
    ),
);
