@use '../../scss/settings/function' as *;

.slide-image {
    height: rem(500);
}

@media only screen and (max-width: 960px) {
    .slide-image {
        height: rem(400);
        img {
            object-fit: contain !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    .slide-image {
        height: rem(300);
    }
}

@media only screen and (max-width: 375px) {
    .slide-image {
        height: rem(200);
    }
}
