* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    line-height: 1.5;
}
body {
    margin: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    line-height: 0;
}
.button {
    border: none;
    background-color: inherit;
    &:not(:disabled) {
        cursor: pointer;
    }
}
.pointer {
    cursor: pointer;
}
