@use '../settings/function' as *;

// Swiper
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: rem(35);
    height: rem(35);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    cursor: pointer;
    z-index: 10;
    transform: translateY(-50%);
    border-radius: 50%;
    &::after {
        content: '\e904';
        font-size: rem(15);
        font-family: 'fi';
    }
}
.swiper-button-prev {
    left: rem(20);
    &::after {
        transform: rotate(-180deg);
    }
}
.swiper-button-next {
    right: rem(20);
}
.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .swiper-button-next,
    .swiper-button-prev {
        width: rem(15);
        height: rem(15);
        &::after {
            font-size: rem(8);
        }
    }
    .swiper-button-prev {
        left: rem(5);
    }
    .swiper-button-next {
        right: rem(5);
    }
}
