/// Load
@use 'sass:meta';
@use 'sass:string';
@use 'sass:list';
@use 'sass:map';
@use '../settings' as setting;
@use '../mixins' as mixin;
/// @mixin
@mixin flex-param($prefix, $properties) {
    @if $properties {
        /// Check class-name, attribute-map
        $class-name: map.get(map.get(setting.$flex-maps, $prefix), 'class-name');
        $attribute-map: map.get(map.get(setting.$flex-maps, $prefix), 'properties');

        /// Check media
        /// md: -- lg: -- xl:
        $breakpoint-key: mixin.breakpoint-isset($properties, setting.$colon);
        @if $breakpoint-key {
            $start-at: setting.find($properties, setting.$colon, $find: 'start');
            $end-at: setting.find($properties, setting.$colon, $find: 'end');
            $infix: mixin.breakpoint-infix($start-at, setting.$breakpoints);
            @if setting.isset($end-at, $attribute-map) {
                @include mixin.media-breakpoint-down($start-at) {
                    .#{$infix}#{$prefix}-#{$end-at} {
                        #{$class-name}: map.get($attribute-map, $end-at);
                    }
                }
            }
        } @else {
            @if setting.isset($properties, $attribute-map) {
                .#{$prefix}-#{$properties} {
                    #{$class-name}: map.get($attribute-map, $properties);
                }
            }
        }
    }
}

@mixin flex($prefix, $properties) {
    @each $properties in $properties {
        @include flex-param($prefix, $properties);
    }
}
