/// Load
@use 'sass:meta';
@use 'sass:string';
@use 'sass:list';
@use 'sass:map';
@use '../settings' as setting;
@use '../mixins' as mixin;
/// @mixin
@mixin grid-param($prefix, $properties) {
    @if $properties {
        /// Check media
        /// md: -- lg: -- xl:
        $breakpoint-key: mixin.breakpoint-isset($properties, setting.$colon);
        @if $breakpoint-key {
            $start-at: setting.find($properties, setting.$colon, $find: 'start');
            $end-at: setting.find($properties, setting.$colon, $find: 'end');
            $infix: mixin.breakpoint-infix($start-at, setting.$breakpoints);
            @if setting.isset($end-at, setting.$grids) {
                @include mixin.media-breakpoint-down($start-at) {
                    .#{$infix}#{$prefix}-#{$end-at} {
                        @include mixin.make-col(
                            map.get(setting.$grids, $end-at),
                            $columns: setting.$grid-columns
                        );
                    }
                }
            }
        } @else {
            @if setting.isset($properties, setting.$grids) {
                .#{$prefix}-#{$properties} {
                    @include mixin.make-col(
                        map.get(setting.$grids, $properties),
                        $columns: setting.$grid-columns
                    );
                }
            }
        }
    }
}

@mixin grid($prefix, $properties) {
    @each $properties in $properties {
        @include grid-param($prefix, $properties);
    }
}
